<!DOCTYPE html>
<html lang="pl">
  <head>
    <%= partial 'shared/head' %>
  </head>
  <body>
    <%= partial 'shared/navbar' %>
    <main class="container d-grid">
      <section>
        <h3>
          <%= current_article.title unless current_article.nil? %>
        </h3>
        <%= yield %>
        <% if current_article %>
          <a href="javascript:window.history.back();">Wstecz</a>
        <% end %>
      </section>
      <aside class="card shadow-sm rounded-4 p-3 bg-light border-0">
        <h2 class="fw-bold mb-3">Spotkania ASI</h2>
        <p class="">
          Spotykamy się <strong>w każdy wtorek o godzinie 18:00</strong> w naszej siedzibie.<br>
          <span class="d-block mt-1">Adres: <strong>ul. Grunwaldzka 61, pok. nr 1</strong> (wejście boczne budynku T-3)</span>
        </p>
        <h2 class="fw-bold mb-3">ASI w Internecie</h2>
        <ul class="list-unstyled">
          <li><a href="https://discord.gg/nwdcrnk" target="_blank" class="fw-semibold"><i class="bi bi-discord"></i> Discord</a></li>
          <li><a href="https://www.facebook.com/asi-wroclaw/" target="_blank" class="fw-semibold"><i class="bi bi-facebook"></i> Facebook</a></li>
          <li><a href="https://www.linkedin.com/company/akademickie-stowarzyszenie-informatyczne/" target="_blank" class="fw-semibold"><i class="bi bi-linkedin"></i> LinkedIn</a></li>
          <li><a rel="me" href="https://fosstodon.org/@ASI" target="_blank" class="fw-semibold"><i class="bi bi-mastodon"></i> Mastodon</a></li>
          <li><a href="https://bsky.app/profile/asi.wroclaw.pl" target="_blank" class="fw-semibold"><i class="bi bi-cloud"></i> Bluesky</a></li>
          <li><a href="https://www.facebook.com/groups/175529160840/" target="_blank" class="fw-semibold"><i class="bi bi-people"></i> Grupa ASI</a></li>
        </ul>
        <h2 class="fw-bold mb-3">Według roku</h2>
        <ul class="list-unstyled">
          <% blog.articles.group_by { |a| a.date.year }.each do |year, articles| %>
            <li>
              <%= link_to "#{year} (#{articles.size})" , blog_year_path(year), class: "fw-semibold" %>
            </li>
          <% end %>
        </ul>
      </aside>
    </main>
    <%= partial 'shared/footer' %>
    <script async src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"></script>
    <script async src="https://scripts.simpleanalyticscdn.com/latest.js" data-collect-dnt="true"></script>
  </body>
</html>
