<!DOCTYPE html>
<html lang="pl">
  <head>
    <%= partial 'shared/head' %>
  </head>
  <body>
    <%= partial 'shared/navbar' %>
    <main class="container d-grid">
      <section>
        <% if current_article %>
          <h3><%= current_article.title %></h3>
        <% end %>
        <%= yield %>
        <% if current_article %>
          <div class="mt-3">
            <a href="javascript:window.history.back();" class="btn btn-sm asi-news-readmore">Wstecz</a>
          </div>
        <% end %>
      </section>
      <%= partial 'shared/aside' %>
    </main>
    <%= partial 'shared/footer' %>
    <%= partial 'shared/scripts' %>
  </body>
</html>
