!!!
%html
  %head
    %script{:async => true, :crossorigin => "anonymous", :integrity => "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", :src => "https://code.jquery.com/jquery-3.2.1.slim.min.js"}
    %script{:async => true, :crossorigin => "anonymous", :integrity => "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"}
    %link{:async => true, :crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", :integrity => "sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", :rel => "stylesheet"}/
    %link{:crossorigin => "anonymous", :href => "/css/style.css", :rel => "stylesheet"}/
    %link{:crossorigin => "anonymous", :href => "/css/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    %script{:async => true, :crossorigin => "anonymous", :integrity => "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge;chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title
      Akademickie Stowarzyszenie Informatyczne#{' - ' + current_article.title unless current_article.nil?}
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
  %body
    = partial "menu.haml"
    %main.container
      .row
        .col-md-8.col-sm-11
          %h3 #{current_article.title unless current_article.nil?}
          = yield
          - if current_article
            %a(href="javascript:window.history.back();" )= t("back")
        .col-md-4.col-sm-12
          .mb-3
          %h2.aside= t('meetings')
          %p Spotykamy się w każdy wtorek o godzinie 18:00 w naszej siedzibie, która mieści się na ulicy Grunwaldzkiej 61, w pok. nr 1 (wejście boczne budynku T3).
          %h2.aside= t('social.online')
          %a{:href =>"https://www.facebook.com/groups/175529160840/" ,:target => "_blank"}= t('social.group')
          %br
          %a{:href =>"https://www.facebook.com/ASI.PWr/" ,:target => "_blank"}= t('social.fanpage')
          %br
          %a{:href =>"https://plus.google.com/+AkademickieStowarzyszenieInformatycznePWR" ,:target => "_blank"} Google+
          %br
          %p= t('social.phone')
          %p
          %h2.aside= t('by_year')
          - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
            %p= link_to "#{year} (#{articles.size})", blog_year_path(year)
    = partial "footer.haml"
