---
pageable: true
per_page: 10
---

- page_articles.each_with_index do |article, i|
  .post
    %h3
      .row.justify-content-between
        .col-md-8.col-sm-12
          = link_to article.title, article
        .col-md-4.col-sm-12.text-md-right
          %small.text-muted= I18n.localize(article.date, format: "%Y-%m-%d")
    %p
      = article.summary(250)

- if paginate && num_pages > 1
  %p= t("pagination", page_number: page_number, num_pages: num_pages)
  - if prev_page
    %p.dx= link_to t('previous_page'), prev_page
- if paginate
  - if next_page
    %p.dx= link_to t('next_page'), next_page
