---
pageable: true
---

= partial 'menu.haml'

%h1#content
  Archive for
  - case page_type
  - when 'day'
    = Date.new(year, month, day).strftime('%b %e %Y')
  - when 'month'
    = Date.new(year, month, 1).strftime('%b %Y')
  - when 'year'
    = year

%ul#content
  - page_articles.each_with_index do |article, i|
    %li
      = link_to article.title, article,class:"right_side"
      %span= article.date.strftime('%b %e')
  %p
  - if paginate && num_pages > 1
    %p
      Page #{page_number} of #{num_pages}    
    - if paginate
      - if next_page
        %p= link_to t('next_page'), next_page
      - if prev_page
        %p= link_to t('previous_page'), prev_page
