---
pageable: true
per_page: 100
---
<% wrap_layout :default do %>
  <h1>
    Posty z roku
    <% case page_type
       when 'day' %>
      <%= Date.new(year, month, day).strftime('%b %e %Y') %>
    <% when 'month' %>
      <%= Date.new(year, month, 1).strftime('%b %Y') %>
    <% when 'year' %>
      <%= year %>
    <% end %>
  </h1>
  <ul id="content">
    <% page_articles.each_with_index do |article, _i| %>
      <li>
        <%= link_to article.title, article %>
        <small class="text-muted"><%= I18n.localize(article.date, format: '%Y-%m-%d') %></small>
      </li>
    <% end %>
    <p></p>
    <% if paginate && num_pages > 1 %>
      <p>Strona <%= page_number %> z <%= num_pages %></p>
      <% if paginate %>
        <% if next_page %>
          <p><%= link_to 'Następna strona', next_page %></p>
        <% end %>
        <% if prev_page %>
          <p><%= link_to 'Poprzednia strona', prev_page %></p>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>
