---
pageable: true
per_page: 100
---
<% wrap_layout :default do %>
  <h1>
    Posty z roku
    <% case page_type
       when 'day' %>
      <%= Date.new(year, month, day).strftime('%b %e %Y') %>
    <% when 'month' %>
      <%= Date.new(year, month, 1).strftime('%b %Y') %>
    <% when 'year' %>
      <%= year %>
    <% end %>
  </h1>
  <ul id="content">
    <% page_articles.each_with_index do |article, _i| %>
      <li>
        <%= link_to article.title, article %>
        <small class="text-muted"><%= I18n.localize(article.date, format: '%Y-%m-%d') %></small>
      </li>
    <% end %>
    <p></p>
    <% if paginate && num_pages > 1 %>
      <nav aria-label="Paginacja" class="mt-4">
        <ul class="pagination justify-content-center">
          <% if prev_page %>
            <li class="page-item">
              <%= link_to 'Poprzednia', prev_page, class: "page-link" %>
            </li>
          <% end %>
          <li class="page-item disabled">
            <span class="page-link">Strona <%= page_number %> z <%= num_pages %></span>
          </li>
          <% if next_page %>
            <li class="page-item">
              <%= link_to 'Następna', next_page, class: "page-link" %>
            </li>
          <% end %>
        </ul>
      </nav>
    <% end %>
  </ul>
<% end %>
